<html>
<head>
	<title>Hangman</title>
</head>
<body>
	<h1>Hangman</h1>
	<form>
		<input type="text" name="guess">
	</form>
	<p><%= message %></p>
	<br>
	<p>Correct guesses:</p>
	<p><%= correct_guesses.join(" ") %></p>
	<br>
	<p>Wrong guesses: <%= incorrect_guesses.join(" ") %></p>
	<br>
	<p>No. of wrong guesses: <%= incorrect_guesses.length %></p>
	<br>
	<p>Remaining guesses: <%= 8 - incorrect_guesses.length %></p>
</body>
</html>